/* You can add global styles to this file, and also import other style files */

body {
    margin: 0 5%;
    background-image: url("https://www.follettlearning.com/wps/wcm/connect/471bb68b-6cf9-4862-9304-e27c876b9c2b/streamline-textbook-2.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-471bb68b-6cf9-4862-9304-e27c876b9c2b-lJzY0tK");
    background-size: 1550px 800px;
    background-repeat: no-repeat;
}